mhacks.com, www.mhacks.com {
	redir https://www.mhacks.org
}

mhacks.org {
	redir https://www.mhacks.org
}

www.mhacks.org {
	reverse_proxy https://mhacks25-landing-site.vercel.app {
		header_up Host {upstream_hostport}
	}
}

team.mhacks.org {
	redir https://mhacks.super.site/
}
